
@{
    Layout = "_LoginLayout";

}
@model BodegaUDB.Dtos.UserLoginDto;

<section class="container w-50 h-50  mb-4 d-flex flex-column">
    <section class="container-sm login-container  z-3 shadow bg-white mt-1 p-0 border-1 border rounded">
        <div class="container-fluid w-auto mt-4  d-flex  justify-content-center  pb-2">
            <h3>Iniciar Sesion</h3>
        </div>
            <form method="post" asp-controller="Account" asp-action="Index">
            <div class="container-fluid form-group mt-4 mb-3 d-flex flex-column align-items-center">
                <div class="mt-2 col-6">
                    <label for="username" class="form-label text-label">Usuario</label>
                    <input type="text" class="form-control " id="username" name="UserName" required>
                </div>
                <div class="mt-3 col-6">
                    <label for="password" class="form-label text-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="Password" required>
                </div>
                <div class="container-fluid row justify-content-center mt-4">
                    <button type="submit" class="btn btn-info col-6"><strong class="text-white">Ingresar</strong></button>
                </div>
            </div>
        </form>
</section>
</section>